.invits-header {
  position: relative;

  display: flex;
  justify-content: space-between;
  /* align-items: center; */

  padding: 10px 5%;
}

.invits-header h3 {
  font-weight: normal;
  transition: box-shadow 0.5s;
}

.invits-header-icon {
  color: rgb(170, 170, 170);
}

.invits-container {
  overflow: auto;
  height: 0;
  border-bottom: 1px solid #ccc;
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.invitations.show .invits-header {
  box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.1);
}

.invitations.show .invits-container {
  height: 220px;
  padding: 10px 0;
}
